.featured {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.featuredItem {
	cursor: pointer;

	flex: 1;
	margin: 0px 20px;
	padding: 30px;

	-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
